In [1]:
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# File to Load (Remember to change these)
birthday_data_to_load = "Resources/president_birthdays.csv"
p_term_data_to_load= "Resources/presidents.csv"


# # Read the City and Ride Data
birthday_data = pd.read_csv(birthday_data_to_load)
term_data= pd.read_csv(p_term_data_to_load)
# 

# Display the data table for preview
birthday_data.head()
term_data.head()

,Presidency,President,Wikipedia Entry,Took office,Left office,Party,Portrait,Thumbnail,Home State
0,1,George Washington,http://en.wikipedia.org/wiki/George_Washington,30/04/1789,4/03/1797,Independent,GeorgeWashington.jpg,thmb_GeorgeWashington.jpg,Virginia
1,2,John Adams,http://en.wikipedia.org/wiki/John_Adams,4/03/1797,4/03/1801,Federalist,JohnAdams.jpg,thmb_JohnAdams.jpg,Massachusetts
2,3,Thomas Jefferson,http://en.wikipedia.org/wiki/Thomas_Jefferson,4/03/1801,4/03/1809,Democratic-Republican,Thomasjefferson.gif,thmb_Thomasjefferson.gif,Virginia
3,4,James Madison,http://en.wikipedia.org/wiki/James_Madison,4/03/1809,4/03/1817,Democratic-Republican,JamesMadison.gif,thmb_JamesMadison.gif,Virginia
4,5,James Monroe,http://en.wikipedia.org/wiki/James_Monroe,4/03/1817,4/03/1825,Democratic-Republican,JamesMonroe.gif,thmb_JamesMonroe.gif,Virginia

In [2]:
birthday_data.dtypes

Presidency      int64
President      object
Day             int64
Month           int64
Year            int64
dtype: object

In [3]:
# day = int(input("Input birthday: "))
# month = input("Input month of birth (e.g. march, july etc): ")
def sun_sign(day, month):
    if month == 12:
        astro_sign = 'Sagittarius' if (day < 22) else 'Capricorn'
    elif month == 1:
        astro_sign = 'Capricorn' if (day < 20) else 'Aquarius'
    elif month == 2:
        astro_sign = 'Aquarius' if (day < 19) else 'Pisces'
    elif month == 3:
        astro_sign = 'Pisces' if (day < 21) else 'Aries'
    elif month == 4:
        astro_sign = 'Aries' if (day < 20) else 'Taurus'
    elif month == 5:
        astro_sign = 'Taurus' if (day < 21) else 'Gemini'
    elif month == 6:
        astro_sign = 'Gemini' if (day < 21) else 'Cancer'
    elif month == 7:
        astro_sign = 'Cancer' if (day < 23) else 'Leo'
    elif month == 8:
        astro_sign = 'Leo' if (day < 23) else 'Virgo'
    elif month == 9:
        astro_sign = 'Virgo' if (day < 23) else 'Libra'
    elif month == 10:
        astro_sign = 'Libra' if (day < 23) else 'Scorpio'
    elif month == 11:
        astro_sign = 'Scorpio' if (day < 22) else 'Sagittarius'
    return(astro_sign)
# sun_sign(day,month)

In [4]:
sun_signs=[]
for index, row in birthday_data.iterrows():
    sun_signs.append(sun_sign(row["Day"],row["Month"]))
print(sun_signs)

['Pisces', 'Scorpio', 'Aries', 'Pisces', 'Taurus', 'Cancer', 'Pisces', 'Sagittarius', 'Aquarius', 'Aries', 'Scorpio', 'Sagittarius', 'Capricorn', 'Sagittarius', 'Taurus', 'Aquarius', 'Capricorn', 'Taurus', 'Libra', 'Scorpio', 'Libra', 'Pisces', 'Leo', 'Pisces', 'Aquarius', 'Scorpio', 'Virgo', 'Capricorn', 'Scorpio', 'Cancer', 'Leo', 'Aquarius', 'Taurus', 'Libra', 'Gemini', 'Virgo', 'Capricorn', 'Cancer', 'Libra', 'Aquarius', 'Gemini', 'Leo', 'Gemini', 'Leo', 'Gemini']

In [5]:
birthday_data.insert(4,"Sun Sign", sun_signs, allow_duplicates=False)
birthday_data.head()

   Presidency          President   Day  Month Sun Sign  Year
0            1  George Washington   22      2   Pisces  1732
1            2         John Adams   30     10  Scorpio  1735
2            3   Thomas Jefferson   13      4    Aries  1743
3            4      James Madison   16      3   Pisces  1751
4            5       James Monroe   28      4   Taurus  1758

In [6]:
birthday_data.head()

   Presidency          President   Day  Month Sun Sign  Year
0            1  George Washington   22      2   Pisces  1732
1            2         John Adams   30     10  Scorpio  1735
2            3   Thomas Jefferson   13      4    Aries  1743
3            4      James Madison   16      3   Pisces  1751
4            5       James Monroe   28      4   Taurus  1758

In [7]:
# birthday_data.to_csv(r'Resources/us_president_sun.csv')

In [8]:
# year = int(input("Input your birth year: "))
def chinese_zodiac_sign(year):   
    if (year - 2000) % 12 == 0:
        sign = 'Dragon'
    elif (year - 2000) % 12 == 1:
        sign = 'Snake'
    elif (year - 2000) % 12 == 2:
        sign = 'Horse'
    elif (year - 2000) % 12 == 3:
        sign = 'Sheep'
    elif (year - 2000) % 12 == 4:
        sign = 'Monkey'
    elif (year - 2000) % 12 == 5:
        sign = 'Rooster'
    elif (year - 2000) % 12 == 6:
        sign = 'Dog'
    elif (year - 2000) % 12 == 7:
        sign = 'Pig'
    elif (year - 2000) % 12 == 8:
        sign = 'Rat'
    elif (year - 2000) % 12 == 9:
        sign = 'Ox'
    elif (year - 2000) % 12 == 10:
        sign = 'Tiger'
    else:
        sign = 'Hare'
    return(sign)

# print("Your Zodiac sign :",sign)
# chinese_zodiac_sign(sign)

In [9]:
chinese_zodiac_signs=[]
for index, row in birthday_data.iterrows():
    chinese_zodiac_signs.append(chinese_zodiac_sign(row["Year"]))
print(chinese_zodiac_signs)

['Rat', 'Hare', 'Pig', 'Sheep', 'Tiger', 'Pig', 'Pig', 'Tiger', 'Snake', 'Dog', 'Hare', 'Dragon', 'Monkey', 'Rat', 'Pig', 'Snake', 'Dragon', 'Horse', 'Horse', 'Hare', 'Ox', 'Rooster', 'Snake', 'Rooster', 'Hare', 'Horse', 'Snake', 'Dragon', 'Ox', 'Monkey', 'Dog', 'Horse', 'Monkey', 'Tiger', 'Snake', 'Monkey', 'Ox', 'Ox', 'Rat', 'Pig', 'Rat', 'Dog', 'Dog', 'Ox', 'Dog']

In [10]:
birthday_data.insert(6,"Chinese Zodiac", chinese_zodiac_signs, allow_duplicates=False)
birthday_data.head()

   Presidency          President   Day  Month Sun Sign  Year Chinese Zodiac
0            1  George Washington   22      2   Pisces  1732            Rat
1            2         John Adams   30     10  Scorpio  1735           Hare
2            3   Thomas Jefferson   13      4    Aries  1743            Pig
3            4      James Madison   16      3   Pisces  1751          Sheep
4            5       James Monroe   28      4   Taurus  1758          Tiger

In [11]:
birthday_data.to_csv(r'Resources/us_president_sun_zodiacF.csv')

In [12]:
term_data.head()

,Presidency,President,Wikipedia Entry,Took office,Left office,Party,Portrait,Thumbnail,Home State
0,1,George Washington,http://en.wikipedia.org/wiki/George_Washington,30/04/1789,4/03/1797,Independent,GeorgeWashington.jpg,thmb_GeorgeWashington.jpg,Virginia
1,2,John Adams,http://en.wikipedia.org/wiki/John_Adams,4/03/1797,4/03/1801,Federalist,JohnAdams.jpg,thmb_JohnAdams.jpg,Massachusetts
2,3,Thomas Jefferson,http://en.wikipedia.org/wiki/Thomas_Jefferson,4/03/1801,4/03/1809,Democratic-Republican,Thomasjefferson.gif,thmb_Thomasjefferson.gif,Virginia
3,4,James Madison,http://en.wikipedia.org/wiki/James_Madison,4/03/1809,4/03/1817,Democratic-Republican,JamesMadison.gif,thmb_JamesMadison.gif,Virginia
4,5,James Monroe,http://en.wikipedia.org/wiki/James_Monroe,4/03/1817,4/03/1825,Democratic-Republican,JamesMonroe.gif,thmb_JamesMonroe.gif,Virginia

In [13]:
term_data=term_data.drop(columns= ["Portrait","Wikipedia Entry", "Thumbnail"] , inplace=False, errors='raise')

In [14]:
term_data.to_csv(r'Resources/president_term.csv')

In [16]:
# merged_inner = birthday_data.merge(term_data, on="Presidency", right_index=True)
# merged_inner.head()