In [1]:
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# File to Load (Remember to change these)
can_data_to_load = "Resources/candidates_2020 (1).csv"


# # Read the City and Ride Data
can_data = pd.read_csv(can_data_to_load)


# Display the data table for preview
can_data.head()

                Name        DOB  Day  Month  Year Birth Time     Party
0     Michael Bennet   11/28/64   28     11  1964        NaN  Democrat
1           Joe Biden  11/20/42   20     11  1942    8:40 AM  Democrat
2  Michael Bloomberg   02/14/42   14      2  1942    3:40 PM  Democrat
3        Cory Booker   04/27/69   27      4  1969    1:10 AM  Democrat
4     Pete Buttigieg   01/19/82   19      1  1982    9:00 PM  Democrat

In [2]:
# day = int(input("Input birthday: "))
# month = input("Input month of birth (e.g. march, july etc): ")
def sun_sign(day, month):
    if month == 12:
        astro_sign = 'Sagittarius' if (day < 22) else 'Capricorn'
    elif month == 1:
        astro_sign = 'Capricorn' if (day < 20) else 'Aquarius'
    elif month == 2:
        astro_sign = 'Aquarius' if (day < 19) else 'Pisces'
    elif month == 3:
        astro_sign = 'Pisces' if (day < 21) else 'Aries'
    elif month == 4:
        astro_sign = 'Aries' if (day < 20) else 'Taurus'
    elif month == 5:
        astro_sign = 'Taurus' if (day < 21) else 'Gemini'
    elif month == 6:
        astro_sign = 'Gemini' if (day < 21) else 'Cancer'
    elif month == 7:
        astro_sign = 'Cancer' if (day < 23) else 'Leo'
    elif month == 8:
        astro_sign = 'Leo' if (day < 23) else 'Virgo'
    elif month == 9:
        astro_sign = 'Virgo' if (day < 23) else 'Libra'
    elif month == 10:
        astro_sign = 'Libra' if (day < 23) else 'Scorpio'
    elif month == 11:
        astro_sign = 'Scorpio' if (day < 22) else 'Sagittarius'
    return(astro_sign)
# sun_sign(day,month)

In [3]:
sun_signs=[]
for index, row in can_data.iterrows():
    sun_signs.append(sun_sign(row["Day"],row["Month"]))
print(sun_signs)

['Sagittarius', 'Scorpio', 'Aquarius', 'Taurus', 'Capricorn', 'Taurus', 'Aries', 'Gemini', 'Leo', 'Virgo', 'Gemini', 'Cancer', 'Cancer', 'Capricorn', 'Gemini', 'Virgo', 'Sagittarius']

In [4]:
can_data.insert(6,"Sun Sign", sun_signs, allow_duplicates=False)
can_data.head()

,Name,DOB,Day,Month,Year,Birth Time,Sun Sign,Party
0,Michael Bennet,11/28/64,28,11,1964,NaN,Sagittarius,Democrat
1,Joe Biden,11/20/42,20,11,1942,8:40 AM,Scorpio,Democrat
2,Michael Bloomberg,02/14/42,14,2,1942,3:40 PM,Aquarius,Democrat
3,Cory Booker,04/27/69,27,4,1969,1:10 AM,Taurus,Democrat
4,Pete Buttigieg,01/19/82,19,1,1982,9:00 PM,Capricorn,Democrat

In [5]:
# year = int(input("Input your birth year: "))
def chinese_zodiac_sign(year):   
    if (year - 2000) % 12 == 0:
        sign = 'Dragon'
    elif (year - 2000) % 12 == 1:
        sign = 'Snake'
    elif (year - 2000) % 12 == 2:
        sign = 'Horse'
    elif (year - 2000) % 12 == 3:
        sign = 'Sheep'
    elif (year - 2000) % 12 == 4:
        sign = 'Monkey'
    elif (year - 2000) % 12 == 5:
        sign = 'Rooster'
    elif (year - 2000) % 12 == 6:
        sign = 'Dog'
    elif (year - 2000) % 12 == 7:
        sign = 'Pig'
    elif (year - 2000) % 12 == 8:
        sign = 'Rat'
    elif (year - 2000) % 12 == 9:
        sign = 'Ox'
    elif (year - 2000) % 12 == 10:
        sign = 'Tiger'
    else:
        sign = 'Hare'
    return(sign)

In [6]:
chinese_zodiac_signs=[]
for index, row in can_data.iterrows():
    chinese_zodiac_signs.append(chinese_zodiac_sign(row["Year"]))
print(chinese_zodiac_signs)

['Dragon', 'Horse', 'Horse', 'Rooster', 'Dog', 'Hare', 'Rooster', 'Rat', 'Monkey', 'Snake', 'Rooster', 'Ox', 'Dragon', 'Hare', 'Dog', 'Rooster', 'Ox']

In [7]:
can_data.insert(7,"Chinese Zodiac", chinese_zodiac_signs, allow_duplicates=False)
can_data.head()

,Name,DOB,Day,Month,Year,Birth Time,Sun Sign,Chinese Zodiac,Party
0,Michael Bennet,11/28/64,28,11,1964,NaN,Sagittarius,Dragon,Democrat
1,Joe Biden,11/20/42,20,11,1942,8:40 AM,Scorpio,Horse,Democrat
2,Michael Bloomberg,02/14/42,14,2,1942,3:40 PM,Aquarius,Horse,Democrat
3,Cory Booker,04/27/69,27,4,1969,1:10 AM,Taurus,Rooster,Democrat
4,Pete Buttigieg,01/19/82,19,1,1982,9:00 PM,Capricorn,Dog,Democrat

In [8]:
# can_data.to_csv(r'Resources/us_can_sun_zodiac.csv')

In [9]:
# day = int(input("Input birthday: "))
# month = input("Input month of birth (e.g. march, july etc): ")
def sun_point(sun_sign):
    if sun_sign == 'Sagittarius':
        astro_sun_point = 3 
    elif sun_sign == 'Capricorn':
        astro_sun_point =  4
    elif sun_sign =='Aquarius' :
        astro_sun_point = 5
    elif sun_sign == 'Pisces':
        astro_sun_point = 5
    elif sun_sign == 'Aries':
        astro_sun_point = 1
    elif sun_sign == 'Taurus':
        astro_sun_point =  2
    elif sun_sign == 'Gemini':
        astro_sun_point =  4
    elif sun_sign == 'Cancer':
        astro_sun_point =  3
    elif sun_sign == 'Leo':
        astro_sun_point = 4
    elif sun_sign == 'Virgo':
        astro_sun_point =  2
    elif sun_sign == 'Libra':
        astro_sun_point =  4
    elif sun_sign == 'Scorpio':
        astro_sun_point =  5
    return(astro_sun_point)

In [10]:
sun_sign_points=[]
for index, row in can_data.iterrows():
    sun_sign_points.append(sun_point(row["Sun Sign"]))
print(sun_sign_points)

[3, 5, 5, 2, 4, 2, 1, 4, 4, 2, 4, 3, 3, 4, 4, 2, 3]

In [11]:
can_data.insert(8,"Sun Points", sun_sign_points, allow_duplicates=False)
can_data.head()

,Name,DOB,Day,Month,Year,Birth Time,Sun Sign,Chinese Zodiac,Sun Points,Party
0,Michael Bennet,11/28/64,28,11,1964,NaN,Sagittarius,Dragon,3,Democrat
1,Joe Biden,11/20/42,20,11,1942,8:40 AM,Scorpio,Horse,5,Democrat
2,Michael Bloomberg,02/14/42,14,2,1942,3:40 PM,Aquarius,Horse,5,Democrat
3,Cory Booker,04/27/69,27,4,1969,1:10 AM,Taurus,Rooster,2,Democrat
4,Pete Buttigieg,01/19/82,19,1,1982,9:00 PM,Capricorn,Dog,4,Democrat

In [18]:
# day = int(input("Input birthday: "))
# month = input("Input month of birth (e.g. march, july etc): ")
def zodiac_point(zodiac_sign):
    if zodiac_sign == 'Dog':
        astro_zodiac_point = 5 
    elif zodiac_sign == 'Dragon':
        astro_zodiac_point =  3
    elif zodiac_sign =='Hare' :
        astro_zodiac_point = 4
    elif zodiac_sign == 'Hourse':
        astro_zodiac_point = 4
    elif zodiac_sign == 'Monkey':
        astro_zodiac_point = 4
    elif zodiac_sign == 'Ox':
        astro_zodiac_point =  5
    elif zodiac_sign == 'Rat':
        astro_zodiac_point =  4
    elif zodiac_sign == 'Rooster':
        astro_zodiac_point =  2
    elif zodiac_sign == 'Snake':
        astro_zodiac_point = 5
    elif zodiac_sign == 'Tiger':
        astro_zodiac_point =  3

    return(astro_zodiac_point)

In [21]:
zodiac_sign_points=[]
for index, row in can_data.iterrows():
    zodiac_sign_points.append(zodiac_point(row["Chinese Zodiac"]))
print(zodiac_sign_points)

UnboundLocalError: local variable 'astro_zodiac_point' referenced before assignment